legacy-peer-deps=true
engine-strict=false
fetch-retries=10
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=600000
maxsockets=50
strict-peer-deps=false
package-lock=true
save=false
ignore-scripts=false
no-audit=true
no-fund=true
loglevel=error
prefer-offline=false
progress=false
color=false
